# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Static libraries
*.gch
*.pch
*.lib
*.a
*.la
*.lo

# Executables
TeleLog
app/TeleLog

# CMake temporary files
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json

# Build directory (The most important one!)
build/
bin/
